@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
/* nos permite traer los iconos de la lista */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  list-style-type:none;
}

body{
  font-family: "Open Sans", sans-serif;
  /*background-image: url(/css/ImageAntaresWeb/fondo.jpg);*/
  background-size: cover; /* la imagen cubra toda el área */ 
  background-position: center; /* Centra la imagen en la pantalla */ 
  background-repeat: no-repeat;
  background-color: #ffffff;
}

/* Index*/

.portada {
  display: block;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.menu-icono{
  display: none;
}

.menu-container {
  position: sticky;
  position: -webkit-sticky;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: white;
  width: 100%;
  top:0;
  z-index: 10; 
  /*el z-index determina el nivel de apilamiento 
  de los elementos posicionados, controla que 
  elemento se superpone a otro por su valor */
}

.checkbox {
  display: none;
}

/*pre barra de navegacion*/

.mini-content-portada {
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.isotipo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.isotipo img {
  height: 60px;
}

.direccion-spot {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  min-width: 400px;
}

.direccion-spot img{
  height: 40px;
}

.direccion-spot a{
  color: #003064;
  font-weight: 500;
}

.direccion-spot a:hover{
  color: #38b6ff;
}

.contain-button-indice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.contain-button-indice a{
  color: white;
  font-weight: 500;
  font-size: 1.0em;
}

.button-indice {
  border-radius: 25px;
  margin-right: 20px;
  padding: 10px;
  background-color: #003064;
  border:3px solid #003064;
}

.button-indice:hover{
  background-color: #38b6ff;
  border:3px solid #38b6ff;
}


/*barra de navegacion*/

.content-navbar {
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: #f6f6f4;
  height: 60px;
  border-radius: 10px;
}

.navbar {
  margin-top: 30px;
  padding-bottom: 20px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  list-style-position: inside; 
  text-align: center;
  align-items: center;
}

.navbar li {
  display: inline;/*los enlaces de tipo texto los convertimos en bloque para que el margin y padin se a;adan*/
  margin-right:20px;
  position: relative;
  text-align: center;
}

/*fijarse la letra con respecto a la resolucion de la pantalla*/

.navbar a{
  color: #003064;
  text-align: center;
  font-size: 1.3em;
  font-weight: 700;
}

/*after: selecciona el elemento navbar y agrega un copntenido despues, le añade dinamismo */

.navbar ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: -2px;
  right: 0;
  background: #ffffff;
  transition: width 0.3s ease;
}

.navbar ul li a:hover::after {
  width: 100%;
  left: 0;
  background: #006eff;
}



/*esta es la imagen del logo de la empresa en la barra de navegacion*/
.img-menu-login{
  width: 120px;
  height: 70px;
  margin-top: 15px;
}

/* Estilos personalizados para la barra de desplazamiento */ 

::-webkit-scrollbar { 
  width: 20px;
  
} 

::-webkit-scrollbar-track { 
  background: #f3f9ff; 
} 

::-webkit-scrollbar-thumb { 
  border-radius: 10px; border: 
  3px solid  #85acd7 ; 
} 

::-webkit-scrollbar-thumb:hover { 
  background-color: #85acd7; 
}


/*registro y login*/

.body-image {
  background-image: url(/css/Imagenes/eclipse1.png);
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 50px;
}

.form-container {
  display: flex;
  align-items: center;
  height: 674px;
}

/*width = ancho, height = alto*/

.form-container img {
  width: 700px;
  height: 674px;
  border-radius: 50px;
  overflow: hidden;
  object-fit: cover;
}


/*notificacion de envio de formulario*/
.notificacion {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0059ff;
  color: #f0f0f0;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 48, 100, 1);
  display: none;
}

/*formulario de registro*/

.form {
  width: 50%;
  height: auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  margin-left:20px; /*marginleft 20px para registro y margin rigth 20px para login*/
  justify-content: center;
  text-align: center;
}

.form-login {
  width: 50%;
  height: 674px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  margin-right: 20px; /*marginleft 20px para registro y margin rigth 20px para login*/
  justify-content: center;
  text-align: center;
}

.form h2 {
  text-align: center;
  margin:20px;
  color: #333;
  font-size: 7vh;
}

.form-login h2 {
  text-align: center;
  margin:50px 20px;
  color: #333;
  font-size: 7vh;
}

.form label, .form a {
  color: #333;
  font-size: 2vh;
}

.form-login label, .form-login a {
  color: #333;
  font-size: 2vh;
}

.terminos-condiciones input, 
.terminos-condiciones label {
  display: flex;
  align-items: flex-start; /* alinea verticalmente los elementos */
  margin-bottom: 10px;
}

.form a:hover{
  color: #0059ff;
}

.form-login a:hover{
  color: #0059ff;
}

.form input {
  margin-top: 7px;
  margin-bottom: 5px;
  justify-content: center;
  width: 80%;
  padding: 10px;
  border: none;
  border-bottom: 1.5px solid #003064;
  border-radius: 5px;
  font-size: 25px;
  background-color: rgba(215, 9, 9, 0.005);
  color: #333;
}

.form-login input {
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  width: 80%;
  padding: 10px;
  border: none;
  border-bottom: 1.5px solid #003064;
  border-radius: 5px;
  font-size: 25px;
  background-color: rgba(215, 9, 9, 0.005);
  color: #333;
}

input:hover {
  border-color: #df9d01;
  outline: none;
}

.form select {
  margin: 7px;
  justify-content: center;
  width: 80%;
  padding: 5px;
  border: none;
  border-bottom: 1.5px solid #003064;
  border-radius: 5px;
  font-size: 25px;
  color: #333;
  appearance: none; /* Para ocultar el icono por defecto */ 
  -webkit-appearance: none; 
  -moz-appearance:none;
}

select {
  background-color: rgba(255, 255, 255, 0.005);
  color: #333; 
  width: 200px; 
  appearance: none; /* Para ocultar el icono por defecto */ -webkit-appearance: none; -moz-appearance: none;
}

/* aplicar estilos a los options, se busca que se vea minimalista*/

select option {
  background-color: rgba(252, 201, 135, 0.621);
  color: #333;
  padding: 8px 12px;
  font-size: 18px;
}

select:hover {
  border-color: #df9d01;
  outline: none;
}

/*mejorar la estetica del input file (imagenes)*/
/*ocultamos el imput file, y mediante clases e id hacemos llamada al imput desde el label*/
input[type="file"]{
  display: none;
}

.custom-imagenPerfil {
  display: inline-block;
  padding: 15px 0;
  cursor: pointer;
  border-bottom: 1.5px solid #333 ;
  border-radius: 10px;
  background-color: rgba(215, 9, 9, 0.005);
  color: #1e1e1e;
  transition: background-color 0.3, color 0.3;
  width: 500px;
}

.custom-imagenPerfil:hover {
  background-color: rgba(215, 9, 9, 0.005);
  color: #df9d01;
}


.form button {
  width: 250px;
  height: 50px;
  color: #285fc5;
  border:3px solid #285fc5;
  cursor: pointer;
  border-radius: 50px;
  font-size: 3vh;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.1);
}

.form-login button {
  width: 250px;
  height: 50px;
  color: #285fc5;
  border:3px solid #285fc5;
  cursor: pointer;
  border-radius: 50px;
  font-size: 3vh;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 20px;
}

.form button:hover {
  border:3px solid #ffc353;
  color: #fabc5e;
}

.form-login button:hover {
  border:3px solid #ffc353;
  color: #fabc5e;
}

.form .login-link {
  display: block;
  text-align: center;
}

.form-login .login-link {
  display: block;
  text-align: center;
}

.or {
  display: flex;
  align-items: center;
  pad: 10px 30px;
  justify-content: center;
  align-items: center;
}

.or-login {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  justify-content: center;
  align-items: center;
}

.O {
  margin: 0 10px;
  color: #333;
}

.linea-div {
  max-width: 200px;
  flex-grow: 1;
  height: 1px;
  background-color: #333;
}

.color3 {
  color: #333;
}

/*inicia secion link spam*/
.color4 {
  color: #285fc5;
}

.color4:hover{
  color: #8b5402;
}



/*portada se refiere a la imagen y la info con en boton*/
/*carusel*/

.Content-Carousel {
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-radius: 30px;
  background-image: url(/css/Imagenes/eclipse-2.png);
  background-size:cover;
}

.transparency {
  background-color: rgba(255, 250, 250, 0.3);
  height: 450PX;
}

.carousel {
  width: 95%;
  height: 390px;
  margin: auto;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

}

.carousel-images img {
  width: 100%;
  display: none;
}

.carousel-images img.active {
  display: block;
}

.portada-info {
  display: flex;
  margin-left: 140px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 90px 0px 0px;
  margin-top: -600px;
}


.portada-info h1 {
  font-size: 5em;
  text-transform: uppercase;
  color: #ffffff;
}

.portada-info h1:hover{
  color: #ffa200;
  transition: 0.9s;
}

.portada-info h4{
  font-size: 2em;
  color: #ffffff;
}

.portada-info h2{
  color: white;
}

.btn-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0px;
  width: 250px;

}

.btn-info button {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.02);
  border: 3px solid #b9d5f1;
  cursor: pointer;
}

.infoAlcance {
  font-size: 1.5em;
  font-weight: 200;
  justify-content: center;
  align-items: center;
}

.unclick {
  font-size: 2em;
  justify-content: center;
  align-items: center;
}

.btn-info a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.3em;

}

.btn-info button:hover{
  transition: 0.9s;
  border: 3px solid #ffa200;
}

.btn-info a:hover{
  color: #f8ad2b;
  transition: 0.9s;
}


/*sobre nosotros va dentro de Content-Carousel*/

.sobre-nosotros {
  text-align: center;
  margin-top: 150px;
}

.sobre-nosotros h2{
  margin: 10px 0px;
  color: #003064;
  font-size: 2.5em;
}

.sobre-nosotros h3 {
  margin: 20px 0px;
  color: #003064;
  font-size: 1.2em;
}

.content-notes{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.notes {
  text-align:start;
  width: 340px;
  height: auto;
  background-color: #ffffff;
  border-radius: 20px;
  color: #003064;
  box-shadow: 1px 1px 7px #888888;
  padding: 30px;
}

.notes:hover{
  box-shadow: 1px 1px 7px #0091ff;
  transition: 2s;
}

.notes h4 {
  font-size: 1.2em;
  margin: 10px 0px;
}

.notes img {
  width: 80px;
  height: 80px;
}



/*Historia*/
.historia {
  background-image: url(/css/Imagenes/eclipse3.png);
  background-size: cover;
  min-height: 1000px;
}

.historia-transparency {
  display: flex;
  margin: 90px 70px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: rgba(185, 213, 241, 0.5);
  align-content: space-between;
  border-radius: 50px;
}

.historia-content {
  display: block;
  margin: 0 60px 0  0;
  align-items: center;
}

.historia-content-img {
  border-radius: 50px;
  width: 500px;
  margin-left: 20px;
}

#h2-tittle{
  margin-top: 25px;
  margin-bottom: 30px;
}

.historia-content h2 {
  font-size: 3.5 em;
  margin-bottom: 5px;
  
}

.h2-yellow {
  color: #ffa200 ;
}

.historia-content p{
  font-size: 1.1em;
  margin-bottom: 30px;
  text-align: justify;
  margin-right: 30px;
}

.p1 {
  font-weight:bolder;
  text-align: justify;
}

.historia-content-content{
  display:inline-block;
  justify-content: space-around;
  margin-top: 10px;
  padding: 20px;
  
}

/*Logo ws*/
.logo-ws {
  position: fixed;/* mantiene el logo pegado a una parte especifica */
  bottom: 50px;
  right: 75px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: block; /* Asegura que se muestren dentro de la sección */
}

/*flecha */

.flecha {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: -webkit-sticky;
  position: sticky;
  top: 855px;
  right: 1500px;
}

/*Servicios*/

#servicios {
 display: block;
 align-content: space-between;
 align-items: center;
 justify-content: center;
 
}

.Servicios-Container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /*para que ocupe varias lineas y no una sola*/
  padding: 0 0  0 40px;
  justify-content:start;
  text-align: center;
}

.content-h2{
  display: block;
  justify-content: center;
  align-items: center;
  background-image: url(/css/Imagenes/eclipse1.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position:right;
  background-size: 40%;
  height: 700px;
}

.h2-servicios1 {
  font-size: 3.5em;
  height: 100px;
  text-align: center;
}

.h2-servicios2 { 
  font-size: 3.0em;
  height: 200px;
  width: auto;
  text-align:center;
  color: #003064;
}

.color1{
  color:#003064;
}

.color2 {
  color: #0091ff;
}

.p-servicios {
  font-size: 1.8em;
  text-align: center;
  margin-top: 100px;
  
}

.buscador-container {
  background-color: rgba(255, 223, 236, 0.3);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: -60px auto; /*margin 0px auto hace que el auto se centre horizontalmente*/
  width: 850px;
  border-radius: 25px;
  color: #003064;
}

.buscador {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
}

.p-buscador {
  margin-top: 30px;
}

.input-buscador{
  border-radius: 25px;
  height: 40px;
  text-align: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px #ffffff solid;
  font-size: medium;
  color: #003064;
  /*outline: none;*/ /*el outlline resalta automaticamente el input*/
  outline-color: #0091ff;
}

.input-buscador::placeholder{
  color: #868686;
}

.input-buscador:hover{
  transition: 0.8s;
  border: 2px #0091ff solid;
}

.content-services {
  display: block;
  width:400px;
  text-align: center;
  margin: 80px 10px 80px 10px;
}

.content-services:hover {
  background-color: rgba(0, 48, 100, 1);
  border-radius: 20px;
  transition: 0.9s;

}

.content-services h3 {
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  margin-top: 10px;
  color:#fbefd7;
}

.content-services img {
  align-items: center;
  cursor: pointer;
  width: 300px;
  margin-top: 20px;
  border-radius: 10px;
}

.content-services p{
  font-size: 1.2em;
  margin-top: 10px;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
  width: 360px;
}


/*Contacto*/

.container-contacto {
  background-image: linear-gradient();
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-left: 40px;
  background-image: url(/css/Imagenes/eclipse4.png);
  background-size: auto;
}

.img-contact img { 
  max-width: 100%;
  height: 550px;
  width: 500px;
  border-radius: 30px;
}

.container-contacto p {
  margin: 10px 0;
}


.contact {
  width: 45%;
  height: 550px;
  background-color: rgba(249, 203, 216, 0.5);
  border-radius: 30px;
}

.contact p {
  text-align: start;
  font-size: 1.6em;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 150%;
  color: #003064;
  margin-left: 20px;
  margin-top: 30px;
}

.contact h2 {
  text-align: center;
  justify-content: center;
  font-size: 3.5em;
  font-family: Arial, serif;
  font-weight: bold;
  color:#003064;
  
}

input::placeholder, textarea::placeholder {
  font-size: 20px;
  color: #003064;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contact-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-row input, .contact-row textarea {
  padding: 10px;
  width: 500px;
  background-color: transparent;
  border: transparent;
  border-bottom: 3px #003064 solid;
  color: #003064;
  font-size: medium;
}

.contact-row input:hover, 
.contact-row textarea:hover {
  border-bottom: 3px #ffa200 solid;
  transition: 0.8s;
}

.contact-row i {
  margin-left: 10px;
}

.contact label {
  display: block;
  text-align: start;
  font-weight: lighter;
  opacity: 0.7;
  margin-left: 160px;
  margin-bottom: 10px;
}

.contact button {
  align-items: center;
  justify-content: center;
  margin-top:  30px;
  margin-bottom: 10px;
  padding: 15px 50px ;
  font-weight: bold;
  font-size: 20px;
  border-radius: 50px;
  width: 30%;
  background-color: rgba(215, 9, 9, 0.005);
  color: #003064;
  border: 3px #003064 solid;
}
.contact button:hover{
  color: #ffa200;
  transition: all 0.8s;
  background-color: rgba(215, 9, 9, 0.005);
  border: 3px #ffa200 solid;
}



/*footer*/

.footer {
  background-color: #003064;
  margin: 0 40px;
  padding: 10px;
  font-family: Arial, sans-serif;
  border-radius: 25px;
  height: 260px;
  width: 1450px;
}

.list-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 20px;
}

.list-footer div {
  margin: 10px;
}

.list-footer h3 {
  color: #ffffff;
  margin-bottom: 10px;
}


.list-footer a {
  margin: 5px 0;
  color: #ffffff;
}

.list-footer a:hover{
 color: #fabc5e;
 transition: all 0.7s;
}

.redes {
  margin-bottom: 20px;
}

.redes h3 {
  color: #ffffff;
  margin-left: 75px;
}

/*gap: margen entre filas y columnas en un grid o flexbox*/
.redes div {
  display: flex;
  gap: 10px;
}


/*iconos de redes en el footer*/

.icon-facebook {
  color: #ffffff; /* Color de Facebook */
  font-size: 25px; /* Tamaño del icono */
  margin-right: 5px; /* Espacio entre iconos */
}

.icon-facebook:hover {
  color: #fabc5e; /* Color de Facebook */
  font-size: 25px; /* Tamaño del icono */
  margin-right: 5px; /* Espacio entre iconos */
}

.icon-instagram {
  color: #ffffff; /* Color de Instagram */
  font-size: 29px; /* Tamaño del icono */
  margin-right: 10px; /* Espacio entre iconos */
}

.icon-instagram:hover {
  color: #fabc5e; /* Color de Instagram */
  font-size: 29px; /* Tamaño del icono */
  margin-right: 10px; /* Espacio entre iconos */
}


.linea-divisoria {
  border-top: 1px solid;
  margin: 10px 110px;
  color: #ffffff;
}

.derechos-reservados {
  display: flex;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0;
  align-items: center;
  justify-content: center;
}



